.padd-v {
  padding: 30px 0;
}

.limit-img {
  position: relative;
}

.limit-img img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  transform: translateZ(0);
  min-height: 40px;
}

a.btn-next {
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  font-size: 14px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  position: relative;
  top: -2px;
}

.margin-b-10 {
  margin: 0 -10px;
}

.margin-b-10 [class*='col-'] {
  padding: 0 10px;
}

.intro > h3,
.pair-row > h3,
.credit-card > h3,
.mobile-money > h3,
.quickpay > h3,
.email-pay > h3,
.transactions > h3,
.how-to-secure > h3,
.intro > h4,
.pair-row > h4,
.credit-card > h4,
.mobile-money > h4,
.quickpay > h4,
.email-pay > h4,
.transactions > h4,
.how-to-secure > h4,
.intro > h5,
.pair-row > h5,
.credit-card > h5,
.mobile-money > h5,
.quickpay > h5,
.email-pay > h5,
.transactions > h5,
.how-to-secure > h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.credit-card-icon {
  padding-bottom: 4%;
  margin-bottom: 5px;
}

.credit-card-icon img {
  right: auto;
}

.credit-card p {
  display: table;
  margin-bottom: 10px;
}

.credit-card-reader {
  padding-bottom: 15%;
  vertical-align: middle;
  width: 65px;
  display: inline-block;
}

.credit-card-payment-image {
  padding-bottom: 41%;
  min-height: 350px;
  margin-bottom: 15px;
}

.credit-card-payment-image img {
  right: auto;
}

.credit-card_confirm h2,
.credit-card_confirm h3,
.credit-card_confirm h4,
.credit-card_confirm h5 {
  font-size: 16px;
  font-weight: bold;
}

.email-pay-icon {
  padding-bottom: 8%;
  margin-bottom: 10px;
}

.email-pay-icon img {
  right: auto;
}

.how-to-secure ul {
  list-style-type: none;
  margin-top: 10px;
}

.how-to-secure li {
  margin-bottom: 10px;
}

.how-to-secure h5 {
  font-size: 16px;
  font-weight: bold;
}

.support p {
  margin-bottom: 10px;
}

.support ul {
  padding: 0;
}

.support li {
  display: inline-block;
  position: relative;
}

.support li:not(:last-child) {
  margin-right: 10px;
}

.support li:not(:last-child):after {
  content: '';
  top: 0;
  right: -8px;
  height: 100%;
  width: 1px;
  position: absolute;
  background: #000;
}

.intro-note {
  max-width: 1000px;
  margin: 45px auto 0 auto;
  display: block;
}

.intro_content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.intro_content:not(:last-of-type) {
  margin-bottom: 30px;
}

.intro_content > h3,
.intro_content > h4,
.intro_content > h5 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.intro_content li {
  display: inline-block;
}

.intro_content img {
  vertical-align: middle;
}

.intro_content span {
  min-width: 100px;
  display: inline-block;
}

.mobile-money-icon {
  padding-bottom: 8%;
}

.mobile-money-icon img {
  right: auto;
}

.mobile-money p {
  margin-bottom: 10px;
}

.mobile-money {
  margin-bottom: 20px;
}

.mobile-money li {
  display: block;
}

.pair-row h3,
.pair-row h4,
.pair-row h5 {
  margin-bottom: 15px;
}

.pair-row li {
  margin-bottom: 10px;
}

.quickpay-icon {
  padding-bottom: 6%;
  margin: 20px 0;
}

.quickpay-icon img {
  right: auto;
}

.quickpay li {
  margin-bottom: 10px;
}

.service-block ul {
  list-style-type: none;
  padding-left: 30px;
}

.service-block li:not(:last-child) {
  margin-bottom: 10px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
}

.service-icon {
  margin-bottom: 15px;
  padding-bottom: 23%;
  text-align: left;
}

.service-icon img {
  right: auto;
}

.service-title-sub {
  font-size: 16px;
  font-weight: 600;
}

.service-block_content:not(:first-of-type) {
  margin-top: 40px;
}

.services-row {
  margin-top: 20px;
}

.transactions p {
  margin-bottom: 10px;
}

.transactions p a {
  text-transform: capitalize;
}

.user-guide_title-block {
  text-align: center;
  background: #eee;
  padding: 10px 0;
}

.user-guide_title-block h2 {
  font-size: 34px;
  margin-bottom: 5px;
}

.user-guide_title-block p {
  font-size: 22px;
}

.user-guide_img {
  padding-bottom: 28%;
  width: 100%;
}

.user-guide_sub {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.user-guide_index ul {
  list-style-type: none;
}

.user-guide_index li:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {
  .service-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .padd-v {
    padding: 15px 0;
  }

  .intro > h3,
  .pair-row > h3,
  .credit-card > h3,
  .mobile-money > h3,
  .quickpay > h3,
  .email-pay > h3,
  .transactions > h3,
  .how-to-secure > h3,
  .intro > h4,
  .pair-row > h4,
  .credit-card > h4,
  .mobile-money > h4,
  .quickpay > h4,
  .email-pay > h4,
  .transactions > h4,
  .how-to-secure > h4,
  .intro > h5,
  .pair-row > h5,
  .credit-card > h5,
  .mobile-money > h5,
  .quickpay > h5,
  .email-pay > h5,
  .transactions > h5,
  .how-to-secure > h5 {
    font-size: 18px;
  }

  .credit-card-icon {
    margin-top: 20px;
  }

  .credit-card h4 {
    font-size: 16px;
  }

  .intro-note {
    margin: 25px auto 0 auto;
  }

  .mobile-money-icon {
    padding-bottom: 15%;
  }

  .pair-row h3,
  .pair-row h4,
  .pair-row h5 {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .pair-row li {
    margin-bottom: 5px;
  }

  .service-block ul {
    padding-left: 15px;
  }

  .service-block li {
    font-size: 14px;
  }

  .service-block li:not(:last-child) {
    margin-bottom: 5px;
  }

  .service-title {
    font-size: 16px;
  }

  .user-guide_title-block h2 {
    font-size: 26px;
  }

  .user-guide_title-block p {
    font-size: 18px;
  }

  .user-guide_sub {
    font-size: 18px;
  }

  .user-guide_index h4 {
    font-size: 14px;
  }

  .user-guide_index ul {
    padding-left: 10px;
  }

  .user-guide_index li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .service-block {
    margin: 0 auto;
    max-width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .padd-v {
    padding: 10px 0;
  }

  .intro > h3,
  .pair-row > h3,
  .credit-card > h3,
  .mobile-money > h3,
  .quickpay > h3,
  .email-pay > h3,
  .transactions > h3,
  .how-to-secure > h3,
  .intro > h4,
  .pair-row > h4,
  .credit-card > h4,
  .mobile-money > h4,
  .quickpay > h4,
  .email-pay > h4,
  .transactions > h4,
  .how-to-secure > h4,
  .intro > h5,
  .pair-row > h5,
  .credit-card > h5,
  .mobile-money > h5,
  .quickpay > h5,
  .email-pay > h5,
  .transactions > h5,
  .how-to-secure > h5 {
    font-size: 16px;
  }

  .email-pay-icon {
    padding-bottom: 15%;
  }

  .intro-note {
    margin: 15px auto 0 auto;
  }

  .intro_content ul {
    margin-bottom: 10px;
  }

  .intro_content:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .intro_content > h3,
  .intro_content > h4,
  .intro_content > h5 {
    font-size: 14px;
  }

  .intro_content p {
    font-size: 14px;
  }

  .intro_content img {
    height: 30px;
  }

  .mobile-money {
    margin-bottom: 0;
  }

  .user-guide_title-block h2 {
    font-size: 22px;
  }

  .user-guide_title-block p {
    font-size: 16px;
  }

  .user-guide_sub {
    font-size: 16px;
  }
}