<style media="screen">
  a {
    font-size: 30px;
    font-weight: bold;
  }
</style>

<ul>
  <li><a href="index.html">index</a></li>
  <li><a href="panache-bridal.html">panache-bridal</a></li>
  <li><a href="berta.html">berta</a></li>
  <li><a href="trunk-shows.html">trunk shows</a></li>
  <li><a href="fullscreen1.html">full screen 1</a></li>
  <li><a href="list.html">list</a></li>
  <li><a href="editors-pick.html">Filter - Editors Pick</a></li>
  <li><a href="designer-name.html">Filter - Designer Name</a></li>
  <li><a href="popularity.html">Filter - Popularity</a></li>
  <li><a href="inbal-dror.html">Filter - Inbal Dror</a></li>
</ul>
